name: Run Terabox Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */4 * * *"  # har 4 ghante chalega

concurrency:
  group: terabox-bot
  cancel-in-progress: false

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install python-telegram-bot requests
          
      - name: Run bot
        run: python t.py
